[2018-01-20 20:58] nelsonic opened #1 "Table of Contents?"
Could this tutorial benefit from a Table of Contents...?
(_any volunteers...?_)

[2018-03-03 12:30] rub1e opened #2 "Feedback from a beginner"
@nelsonic As promised, here is some feedback:

## Getting started

I already had Phoenix and Elixir installed, and that's straightforward anyway.

Postgres, on the other hand :confounded:

I did have `postgres` installed from testing out the `dwylbot` docs, so I just started `psql` and ran `lsof -i :5432`. *No output at all*.

So I did various things like checking ports were open and restarting th

[2018-03-06 12:31] nelsonic commented on #2
Hi @rub1e thanks (_so much_) for making time to go through the tutorial steps on your machine!! 🎉

Are you still using a ChromeBook (running Ubuntu via ["Crouton"](https://github.com/dnschneid/crouton)?) ?
(_that should be **fine**, especially if you were able to run the `dwylbot` project ..._)

I think we need to _improve_ our Linux instructions on https://github.com/dwyl/learn-postgresql ... 🤔
S

[2018-03-06 18:00] rub1e commented on #2
Yeah, but not for this - I used a proper machine with 8gb ram and everything! 😊

Maybe, but I'm inclined to think my issues arose because of me rather than you 😉 . Basic installation really wasn't that hard to follow

[2018-03-08 19:10] abraidotti opened #3 "Getting error: Ecto.Queryable not implemented for Message"
Hey there. I've followed the tutorial and adjusted my postgres databases, so everything works except querying the db to grab the last 20 saved messages. Here's what I get after I run mix phx.server:

Compiling 1 file (.ex)
[info] Running ChatWeb.Endpoint with Cowboy using http://0.0.0.0:4000
14:09:40 - info: compiled 6 files into 2 files, copied 3 in 1.6 sec
[warn] Ignoring unmatched topic "room:l

[2018-03-08 23:19] nelsonic commented on #3
@abraidotti can you create a repo on GitHub and push up your code
so we can _run_ it on our side to help with debugging?

[2018-03-09 00:05] abraidotti commented on #3
Git repo here: https://github.com/abraidotti/elixir-chat-app
:)

[2018-03-14 15:35] AndreasBraun2015 commented on #3
Had the same problem.

That worked for me:

Use :
def get_messages(limit \\ 20) do
    Chat.Repo.all(Chat.Message, limit: limit)
  end

Instead of:
def get_messages(limit \\ 20) do
  Chat.Repo.all(Message, limit: limit)
end

By the way, I love this tutorial, please continue providing such great tutorials, its the best source for beginners like me to learn and there are still not many tutorials tha

[2018-03-14 16:05] AndreasBraun2015 opened #4 "For windows user: SET MIX_ENV=test mix do coveralls.json"
Just as a quick help for windows users:

Replace:
MIX_ENV=test mix do coveralls.json

by:
SET MIX_ENV=test mix do coveralls.json

[2018-03-14 16:06] #4 closed

[2018-03-15 15:33] abraidotti commented on #3
Awesome! That worked! Thanks a lot.

[2018-03-19 17:04] mjames21 commented on #2
I'm getting this error
(FunctionClauseError) no function clause matching in ChatWeb.RoomChannel.handle_info/2

[2018-03-20 11:00] nelsonic commented on #2
@mjames21 thanks for sharing your feedback!
Would you mind opening a ***new issue*** and giving a bit more detail?
+ please give the _full_ "stack trace"
+ which stage in the tutorial did you get the error?
+ which OS you are using
Thanks!

[2018-03-20 11:29] mjames21 commented on #2
It is fixed now, I missed out some detail before.
I'm using Ubuntu 16

Thanks for the concern
`[warn] Ignoring unmatched topic "topic:subtopic" in ChatWeb.UserSocket
[info] JOIN "room:lobby" to ChatWeb.RoomChannel
  Transport:  Phoenix.Transports.WebSocket (2.0.0)
  Serializer:  Phoenix.Transports.V2.WebSocketSerializer
  Parameters: %{}
[info] Replied room:lobby :ok
[error] GenServer #PID<0.392.0

[2018-03-22 18:08] parkhabit opened #5 "Possible readme update"
As a first time Pheonix user I followed the **Step 1** in the readme and created the app, but when checking to see if I had done it properly I received the following error message numerous times, filling my terminal.
[code]
I understand that the site works correctly as shown in the demo and that this error occurred as I had not created my database yet. However, I wasn't expecting to see a terminal

[2018-03-22 18:10] nelsonic commented on #5
@parkhabit _great_ point!  (_**thank you** for taking time to open this issue_)
we could re-jig the tutorial to instruct people to `mix ecto.create` sooner
or _advise_ that there will be errors in the terminal until the DB is created ...
What is _your_ preference?

[2018-03-25 22:49] nelsonic opened #6 "Feature Request: Add Timestamps to Messages"
A couple of people who have _tried_ the app on: https://phxchat.herokuapp.com/
have requested Timestamps next to the messages:
![image](https://user-images.githubusercontent.com/194400/37880880-235deaa2-3087-11e8-9526-98bf00969a6f.png)

[2018-04-27 18:46] nelsonic opened #7 "Add More Tests?"
At present we only have _basic_ tests for this example ...
https://travis-ci.org/dwyl/phoenix-chat-example/jobs/372163015#L659
![image](https://user-images.githubusercontent.com/194400/39379510-5ed9d4fc-4a53-11e8-9e8b-46682cac9a8e.png)

It's not very "exemplary" if half the app is _untested_ ...
More detail: https://codecov.io/gh/dwyl/phoenix-chat-example
Thinking of adding a few more tests ... an

[2018-05-01 16:30] nelsonic commented on #7
I've added a couple of extra tests and removed code that is not being used.
Now we're up to 94% which is _much_ better than 59% ... ✅
https://travis-ci.org/dwyl/phoenix-chat-example/builds/373536612#L613
![image](https://user-images.githubusercontent.com/194400/39481841-b1a77298-4d64-11e8-81c1-52be402de707.png)

There is only ***ONE*** line not being covered:
https://codecov.io/gh/dwyl/phoenix-cha

[2018-05-01 16:37] nelsonic commented on #3
@abraidotti glad you got it figured out.
From reading your [`/lib/chat/message.ex`](https://github.com/abraidotti/elixir-chat-app/blob/bf69ca8a4f8c3569db213f0ac6c6c412cfca06a1/lib/chat/message.ex) you are missing the [`alias Chat.Message`](https://github.com/dwyl/phoenix-chat-example/blob/b57cc174d7f1c9aac22947f23170b29d4c303776/lib/chat/message.ex#L4)

Which _should_ have been added to the `messa

[2018-05-01 16:38] nelsonic commented on #3
Closing as OP's issue is resolved. ✅

[2018-05-01 22:45] nelsonic commented on #7
Posted question on StackOverflow to try and get to the bottom of this:
https://stackoverflow.com/questions/50124865/why-how-when-to-use-the-using-which-macro-in-phoenix-controller-view-etc

[2018-05-01 22:53] nelsonic commented on #7
Cross-posted the question to: https://elixirforum.com/t/why-how-when-to-use-the-using-which-macro-in-phoenix-controller-view-etc/14001

Now I go to sleep and in the morning the Wonderful Internet Elves have an _answer_ for me. 😉

[2018-05-02 09:09] nelsonic commented on #7
Got reply on forum: https://elixirforum.com/t/why-how-when-to-use-the-using-which-macro-in-phoenix-controller-view-etc/14001/2
_and_ StackOverflow: https://stackoverflow.com/a/50127548/1148249
both are _useful_ and I will read the shared links and reply ...

[2018-05-06 09:59] nelsonic commented on #6
+ https://hexdocs.pm/elixir/Date.html
+ https://hexdocs.pm/elixir/DateTime.html#content

[2018-05-26 23:07] ihtiht opened #9 "design contribution proposal"
Hi,

I am a graphic designer. I contribute to open source projects. If you need a logo design, I can do it. I also have a nice logo idea in my mind. I will be waiting for your feedback ...

[2018-08-31 18:23] comerc opened #10 "** (Protocol.UndefinedError) protocol Ecto.Queryable not implemented for Message, the given module does not exist"
![2018-08-31 21-23-02](https://user-images.githubusercontent.com/1025241/44929561-1f675280-ad64-11e8-9edc-4b1ed0f72ba2.png)

[2018-08-31 18:31] comerc commented on #10
dublicate https://github.com/dwyl/phoenix-chat-example/issues/3

[2018-08-31 18:31] #10 closed

[2018-09-01 06:31] nelsonic commented on #3
Given that @comerc has opened a _similar_ issue #10 it _might_ be worth adding a section about this to the README.md ... 🤔

[2018-09-28 20:44] shirleymiao commented on #5
Just ran into this as well. The easiest fix is probably to advise that there will be errors in the terminal until the DB is created!

[2018-09-28 21:48] iteles commented on #5
@shirleymiao Thanks for commenting and for letting us know! We'd very much welcome a pull request to that effect if you're up for it 😊

[2018-11-19 03:27] ericridgeway opened #14 "Could you add Phoenix Presence?"
This tutorial is so fantastic. Thanks lots. Are you able to add phoenix presence to the user name parts, to maybe keep a list of everyone who's connected and show when they disconnect and stuff?

Thanks again for wonderful guide!

[2018-11-24 05:42] ericchuawc opened #15 "Add more clarity on the Travis CI part?"
Just a suggestion

I have to google a bit to get this worked

1. Clone a copy of test.exs to config/travis.exs

2. In the travis.exs, make sure the password is set to "" (no password) for Postgres as per Travis docs

3. In travis.yml, my version is this

[code]
Hope it helps :)

Probably is good to mention that not all postgresql version can work with travis e.g. my local mac is using 10.5 but tra

[2018-12-12 03:18] jesseshieh opened #17 "Deploy to Gigalixir?"
This repo is amazing!! Very well done! What do you think about adding a guide for deploying with Gigalixir? Disclaimer: I'm the founder of Gigalixir.

[2018-12-12 10:24] nelsonic commented on #17
@jesseshieh Yeah, we _love_ the work you are doing with Gigalixir. 🎉
If you have time to create a short guide as a Pull Request we would gladly merge it. 👍

[2018-12-12 13:38] jesseshieh commented on #17
Awesome! I'll start writing one up.

[2018-12-13 01:39] MyBigNurse opened #18 "Text Output Strange"
Hi - sorry, this is probably a silly question because this is my first time w/ Elixir but i followed this example and the output is weird in that each time a user enters an output it puts the output adjacent (rather than below with a line break), which makes the messages impossible to read... For example a typical output on my end looks like:

Bob hi there.  Alice Hello How are you?  Bob I'm good,

[2018-12-13 01:40] MyBigNurse commented on #18
Also, thanks btw for posting this example.  I thought it was quite interesting!

[2018-12-13 08:18] nelsonic commented on #18
@MyBigNurse this appears to be a CSS bug. thank you for reporting it. 👍

[2018-12-13 09:22] MyBigNurse commented on #18
Thanks, Nelson. Sorry but I don’t know much about how css works in elixiror what exactly this app.css ref is doing. Do you have a suggestion on what file I need to look at to try and fix it? Is it in the app.css file? Thanks for your reply

[2018-12-13 12:21] nelsonic commented on #18
@MyBigNurse yeah, **app.css** should be a good place to start.
@Cleop or @RobStallion might be able to help.
Can you upload a screenshot of what you are seeing?

[2018-12-13 19:11] jesseshieh commented on #17
@nelsonic, so I started writing this up and realized it's pretty much going to be identical to https://gigalixir.readthedocs.io/en/latest/main.html#getting-started-guide. Do you think it would make more sense to just link to that and/or the [screencast](https://gigalixir.readthedocs.io/en/latest/main.html#screencast) instead?

[2018-12-14 22:56] MyBigNurse commented on #18
<img width="1076" alt="horizontalchat results" src="https://user-images.githubusercontent.com/45836584/50034184-a1088680-ffc9-11e8-92ee-6a730f95a0d3.png">

[2018-12-14 22:57] MyBigNurse commented on #18
Thanks guys - just uploaded a screenshot of what it looks like.

[2018-12-14 23:39] MyBigNurse commented on #18
So I opened up chat/priv/static/css/app.css and I removed the following section of code.

The first line of code in the CSS file looks like:

*,*:after,*:before{box-sizing:inherit}html ....

And it is this super massive and impossible to read entry of css.  By randomly deleting sections i was able to see that removing the following text:

"{display:inline}.label-inline{display:inline-block;font-we

[2018-12-15 10:47] RobStallion commented on #18
@MyBigNurse could you create a repo that you could push this code to? It would be helpful if I could look at your code as I cannot replicate your error in the demo version.

If you could also comment letting us know what browser you are using that would be helpful. 👍

[2018-12-16 10:08] LatitudeAdjustment commented on #18
This is a CSS issue.
Phoenix 1.4 now includes Milligram for styling, not Bootstrap as in previous versions.  So, a newly generated project will not work like the one in the repo.
The template in Step 3 will have to be modified accordingly for Milligram.
Also Webpack is now used instead of Brunch for handling static assets.

[2018-12-16 10:33] LatitudeAdjustment commented on #18
I was able to improve the output by removing "class='row'" from line 2 in index.html.eex.

`<ul id='msg-list' class='row' style='list-style: none; min-height:200px; padding: 10px;'>`

to

`<ul id='msg-list' style='list-style: none; min-height:200px; padding: 10px;'>`

[2019-02-07 15:13] ericchuawc opened #19 "This article isn't really geared for Phoenix 1.4?"
Just my personal feedback.

As it is stated it will be based on Phoenix 1.4, some parts are not so applicable

Examples

npm install in assets folder, believed this is no longer valid as phoneix 1.4 is using webpack and npm install will work when you setup the project for the 1st time

also phoenix 1.4 is using milligram, so the codes in index.html.eex will not display properly as the codes are ba

[2019-02-07 15:21] nelsonic commented on #19
@ericchuawc _thank you_ for your feedback. ❤️
We would _gladly_ accept a pull request with any updates
which you feel are relevant to make the example more applicable to **Phoenix v.1.4**

[2019-02-18 15:36] Marcos-Costa commented on #19
I've noticed bugs as well, mainly due to the bootstrap change. I'll fix it an send a pull request as soon as I can.

[2019-04-05 18:19] tomasgtz opened #20 "Unable to join Object { reason: "unmatched topic" }"
Hello,
I followed whole tutorial, however I am not able to make it run well.

I am getting this error at chrome, console Unable to join Object { reason: "unmatched topic" }

also in the erlang console I get this error
[warn] Ignoring unmatched topic "topic:subtopic" in ChatWeb.UserSocket

I checked the room name in
lib/chat_web/channels/room_channel.ex
lib/chat_web/channels/user_socket.ex
assets/j

[2019-04-05 19:26] nelsonic commented on #20
Hi @tomasgtz, thanks for opening this issue.
Is your code on GitHub? If you can share a link to it i/we can help debug. 👍

[2019-04-05 20:17] tomasgtz commented on #20
Hi @nelsonic
I don't have it in a git, however here are the contents of the three files that I changed from this github.
I didn't changed anything else

**room_channel.ex**
`defmodule ChatWeb.RoomChannel do
  use ChatWeb, :channel

  def join("room:lobby", payload, socket) do
    if authorized?(payload) do
      {:ok, socket}
    else
      {:error, %{reason: "unauthorized"}}
    end
  end

  # Ch

[2019-04-05 20:26] tomasgtz commented on #20
Also here is what console is displaying

[warn] Ignoring unmatched topic "topic:subtopic" in ChatWeb.UserSocket
[error] {:EXIT, {:undef, [{ChatWeb.ChatRoomChannel, :start_link, [{%{}, {#PID<0.413.0>, #Reference<0.3880366180.3763601409.213203>}, %Phoenix.Socket{assigns: %{}, channel: ChatWeb.ChatRoomChannel, channel_pid: nil, endpoint: ChatWeb.Endpoint, handler: ChatWeb.UserSocket, id: nil, join_re

[2019-05-03 10:58] nelsonic opened #21 "Update version of Phoenix in "Before you Start" section"
At present the version of Phoenix recommended in the `README.md` is **`1.4.0`** (_so last year!_)
![image](https://user-images.githubusercontent.com/194400/57133039-8036a700-6d99-11e9-8a7e-ed849b87fdba.png)

The latest version according to https://github.com/phoenixframework/phoenix/releases is **`1.4.4`**:
![image](https://user-images.githubusercontent.com/194400/57133129-c8ee6000-6d99-11e9-9fe2-

[2019-05-03 11:25] #21 closed

[2019-06-14 08:17] nohardcode commented on #20
just comment lines in socket.js

`// let channel = socket.channel("topic:subtopic", {})
// channel.join()
//   .receive("ok", resp => { console.log("Joined successfully", resp) })
//   .receive("error", resp => { console.log("Unable to join", resp) })`

[2019-06-14 08:18] nohardcode commented on #20
just comment lines in assets/js/socket.js

[code]

[2019-06-30 20:25] nelsonic opened #25 "XSS ... 🙄"
This is why we can't have nice things ... 😕
[![image](https://user-images.githubusercontent.com/194400/60401681-1827f580-9b7d-11e9-814a-a672d0d7230e.png)](https://www.youtube.com/watch?v=6Z3QJ4L1Bg0)

# Todo

+ [ ] Wipe the Heroku database
+ [ ] Add **GitHub Auth** to the example to avoid anonymous vandalism: https://hex.pm/packages/elixir_auth_github
+ [ ] Implement a check for the script tag ...

[2019-07-08 06:38] aswinmohanme commented on #25
Can confirm

[2019-08-12 11:01] mihaicolceriu commented on #20
Did you try this?
[code]

[2019-08-12 11:49] mihaicolceriu commented on #25
To fix this, you should add to the *Endpoint* section the `check_origin` option
[code]
and in the array pass your heroku app domain, like above.

[2019-08-13 08:06] nelsonic commented on #14
@ericridgeway _great_ question/suggestion! Thank you for opening this issue. 🎉

[2019-08-13 09:00] nelsonic opened #26 "Elm + Phoenix Quest"
We _love_ Elixir & Phoenix because they make building web apps easy and fun!
We are _less_ enamoured with using JavaScript on the frontend because reliability is _hard_ in JS.

At present there is not very much JS in this example because features are minimal, see: [`app.js`](https://github.com/dwyl/phoenix-chat-example/blob/754ce403063635d14b5964bd681a4cd6c53930d6/assets/js/app.js)
but the more JS

[2019-08-18 19:24] hgc2002 commented on #2
Here is how to set postgres default password, that should be postgres:

https://stackoverflow.com/questions/12720967/how-to-change-postgresql-user-password

[2019-09-01 09:28] nelsonic opened #27 "Downgrade Version of Elixir in mix.exs"
We are unable to push updates to our Phoenix App running on Heroku because the version of Elixir in the `elixir_buildpack.config` is set to [`1.5.3`](https://github.com/HashNuke/heroku-buildpack-elixir/blob/07c23c5b14f7c8e346771ba2dcf200a23821e7f3/elixir_buildpack.config#L2) whereas our `mix.exs` file is requiring [`1.7`](https://github.com/dwyl/phoenix-chat-example/blob/754ce403063635d14b5964bd68

[2019-09-01 10:27] nelsonic commented on #25
Essential reading:
https://cheatsheetseries.owasp.org/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.html
https://cheatsheetseries.owasp.org/cheatsheets/DOM_based_XSS_Prevention_Cheat_Sheet.html

Previous solution: https://github.com/dwyl/hapi-socketio-redis-chat-example/commit/05dddee670916b944c4a7f266e37a55f92617c97

Before wiping, the Heroku database has **2,851 rows**:
![image](https:

[2019-09-01 10:56] nelsonic commented on #25
After running:
[code]
I looked through the data and there's so much junk ...
No shortage of people trying to inject scripts:
[code]
![image](https://user-images.githubusercontent.com/194400/64075387-783b3500-ccaf-11e9-96e0-a1606dcd8429.png)

Will wipe the data once I've confirmed that the `sanitise` function is doing it's job.

[2019-09-01 11:14] #25 closed

[2019-09-01 11:15] iteles commented on #25
Thanks for being the only one with the patience to do this @nelsonic!

[2019-09-01 11:34] nelsonic commented on #25
![image](https://user-images.githubusercontent.com/194400/64075696-68255480-ccb3-11e9-803b-9decc8fe0ddd.png)

# 🙄

Restarting ...

![image](https://user-images.githubusercontent.com/194400/64075711-a4f14b80-ccb3-11e9-9eff-e95514bd586f.png)

[code]

Debug: https://github.com/gjaldon/heroku-buildpack-phoenix-static/issues/73

Going to attempt to add `  http: [port: {:system, "PORT"}],` to `config/pr

[2019-09-01 12:34] nelsonic commented on #25
XSS no longer present on the page:
![image](https://user-images.githubusercontent.com/194400/64076426-bab73e80-ccbc-11e9-9456-3fb4b1af4937.png)

`<SCRIPT SRC=http://xss.rocks/xss.js></SCRIPT>` escaped:
![image](https://user-images.githubusercontent.com/194400/64076469-2e594b80-ccbd-11e9-90a8-8c3c43aaa116.png)

Going to _wipe_ the database now.

[2019-09-01 12:39] nelsonic commented on #25
Reset database:
![Screenshot 2019-09-01 at 13 36 30](https://user-images.githubusercontent.com/194400/64076497-960f9680-ccbd-11e9-98f4-47bf0a6225ec.png)

![image](https://user-images.githubusercontent.com/194400/64076509-a9bafd00-ccbd-11e9-9e06-826ea589b072.png)

Working.

[2019-09-24 04:44] ericridgeway opened #29 "Doesn't work as is, get "unable to join: unmatched topic" error"
You forgot the step where you need to change socket.js to use
`let channel = socket.channel("room:lobby", {})`
instead of
`let channel = socket.channel("topic:subtopic", {})`

[2019-09-24 04:47] nelsonic commented on #29
@ericridgeway _thank you_ for opening this issue! (_glad someone was paying attention_)
If you have time to create a pull request fixing the docs, please do.

[2019-12-17 07:31] nelsonic commented on #27
Recently figured out how to use latest Elixir on Heroku in https://github.com/dwyl/elixir-auth-google-demo
So we could bump this up to 1.9 ... 💭

[2019-12-17 07:36] nelsonic commented on #29
I have added instructions to section 4.1: https://github.com/dwyl/phoenix-chat-example/tree/comment-topic-subtopic-issue%2329#41-comment-out-lines-in-socketjs so people will not see the error.

@iteles please see: #33 (_thanks!_) 🌻

[2019-12-17 13:10] AleksandarFilipov opened #34 "Many thanks for this sweet example ;)"
That's it, keep up the good work!

[2019-12-17 13:22] nelsonic commented on #34
@AleksandarFilipov glad you found it useful. Thanks for your feedback! 🥇
We will be extending it soon to include _several_ new features. Stay tuned. 😉

[2019-12-17 15:08] AleksandarFilipov commented on #34
Thats great! I use the inspiration in an umbrella. Could be a suggestion for comig features. Looking forward for updates.
Cheers

[2019-12-17 15:15] nelsonic commented on #34
@AleksandarFilipov If you find a **good tutorial** for **umbrella apps**, **please _share_ links**! 🙏
(_we have never found one that we thought was particularly beginner-friendly..._) 🙄

[2019-12-17 20:40] AleksandarFilipov commented on #34
I did find this useful to some extent https://cultivatehq.com/posts/elixir-distillery-umbrella-docker/

[2019-12-18 07:08] nelsonic commented on #34
@AleksandarFilipov thanks for sharing. (Added to reading list) 🙌

[2019-12-18 11:22] #29 closed

[2019-12-26 02:09] linovate opened #35 "Did not get expected result at step 8.1 - Review the Messages Table Schema"
I am following this tutorial step by step. At step 8.1 - Review the Messages Table Schema, I could not see any table created thru psql cli tool . If the table is created, I should be able to see it through either pgAdmin or CLI, is that right?

I am using Phoenix 1.4.11 instead of 1.4.4 if that might be the reason.

Could you shed some light on how to  create the table ?

Thanks ! This is a fantas

[2019-12-26 06:00] linovate commented on #35
FYI, I try to go through the tutorial again, using Phoenix 1.4.4, I got following error at step 6 (upon  running mix ecto.create):

05:56:11.202 [error] GenServer #PID<0.344.0> terminating
** (Postgrex.Error) FATAL 28P01 (invalid_password) password authentication failed for user "postgres"
    (db_connection) lib/db_connection/connection.ex:87: DBConnection.Connection.connect/2
    (connection) li

[2019-12-26 09:51] nelsonic commented on #35
@linovate thanks for opening this issue. it's always good to know that people find it. 👍
It appears as though your Phoenix App is not able to connect to the Postgres database.
Can you please confirm:
+ What operating system you are using?
+ Did you change the default password for your Postgres?
  + If so, did you remember to update it in your [`config/dev.exs`](https://github.com/dwyl/phoenix-chat

[2020-02-15 15:40] vagrabar opened #36 "Have some problems on step 5"
After printing "cd assets && npm install && cd .." (or anything else instead "..") it writes me:
mac:chat mac$ cd assets && npm install && cd .. //First try
-bash: npm: command not found
mac:assets mac$ cd assets && npm install && cd .. //Second try
-bash: cd: assets: No such file or directory

[2020-02-15 16:07] nelsonic commented on #36
@vagrabar please confirm you have `node.js` installed on your machine.
https://nodejs.org/en/download
It is required to compile the `JavaScript` for the Client.

As for not having the `/assets` directory, please confirm you created a new Phoenix App in step 1.
Your directory structure should match that of this repository.
**`/assets` should be at the root of your project.
You may have skipped a st

[2020-02-15 16:13] vagrabar commented on #36
After printing a command from step 5 directory changed from chat to assets. Do I need to start making a project again?
After printing "pwd": /Users/mac/chat/assets

[2020-02-15 16:14] vagrabar commented on #36
And, yes, I didn't have node.js on my machine. I have already installed it.

[2020-02-15 16:24] vagrabar commented on #36
Restarted making chat and after installing node.js package everything works.

[2020-02-15 16:28] nelsonic commented on #36
@vagrabar sounds good. Hope you manage to finish working your way through the tutorial. 👍
If this has resolved your issue, please remember to close the issue. ✅
Thanks! 👋

[2020-02-15 16:32] vagrabar commented on #36
![I have a question](https://user-images.githubusercontent.com/61086187/74591491-9d3b1e80-5029-11ea-9abf-885e38a149f1.jpeg)
Excuse-me, but after printing a command from step 5 I saw this message. What does it mean? Yes, here is another two messages, that I got after.

[2020-02-15 16:37] nelsonic commented on #36
These NPM warnings are simply informing you that a couple of packages are out-of-date.
To run any **`npm`** command you need to be in the **`/chat/assets`** directory.
So run `cd assets` and _then_ run `npm audit fix`

What version of Phoenix are you running? Run:
[code]

[2020-02-15 16:37] vagrabar commented on #36
v.1.4.4

[2020-02-15 16:41] nelsonic commented on #36
Ok, that's why the `node.js` dependencies are out-of-date. It won't be an issue. 💭
But you should be 100% fine to continue working on the example/tutorial. 👍

[2020-02-15 16:45] vagrabar commented on #36
Ok, thank a lot. So, I think, it is the end of a problem :) I'm sorry for such stupid questions. Actually, it is my first project on GitHub that I make.

[2020-02-15 16:45] #36 closed

[2020-02-15 16:50] nelsonic commented on #36
@vagrabar there are no "stupid questions". Especially for someone who is just starting out!
We're stoked you had the _courage_ to open a question even _risking_ looking "stupid".
We've all asked "noob" questions. That's the _only_ way to learn. Keep going! 🚀

[2020-02-24 15:50] nelsonic commented on #35
No response from OP. Presume that they figured out how to run the app after updating their config.
Closing.

[2020-02-24 15:50] #35 closed

[2020-02-24 15:51] nelsonic commented on #27
No need to downgrade. Figured out how to use latest Elixir. ✅

[2020-02-24 15:51] #27 closed

[2020-02-24 15:55] nelsonic commented on #18
Updated in:
https://github.com/dwyl/phoenix-chat-example/blob/7a097643aa5b05e04321687ea6c169007a99e148/lib/chat_web/templates/page/index.html.eex#L2-L3

Thanks again @LatitudeAdjustment  🥇

[2020-02-24 15:55] #18 closed

[2020-02-24 15:58] nelsonic commented on #7
After much searching we concluded that it was not _possible_ to test certain files
so we simple exclude them in the `coveralls.json` file:
https://github.com/dwyl/phoenix-chat-example/blob/7a097643aa5b05e04321687ea6c169007a99e148/coveralls.json#L5-L8

We have been using this in all our Phoenix projects.

[2020-02-24 15:58] #7 closed

[2020-02-24 16:00] nelsonic commented on #15
@ericchuawc thanks for sharing this. We have been using Postgres **`9.5`** ever since. 👍

[2020-02-24 16:00] #15 closed

[2020-02-24 16:55] nelsonic commented on #20
I've added this to to the `README.md` in https://github.com/dwyl/phoenix-chat-example/pull/33 ✅

[2020-02-24 16:55] #20 closed

[2020-02-27 10:06] AleksandarFilipov commented on #34
I suggested that we should go through your example at the elixir meetup in malmö/sweden (we don't have a date for next meetup yet). @nelsonic if you are around you could be the presenter :)

[2020-05-01 08:45] nelsonic opened #38 "Update to Phoenix 1.5.1"
With the recent release of **Phoenix 1.5** 🎉 https://elixirforum.com/t/phoenix-v1-5-0-released/30693
Now is a _great_ time to go through this example/tutorial with a fresh pair of eyes and _completely_ update it (_including_) links to code snapshots. We can also _extend_ it to include **`auth_plug`** #25 🔐 and **presence** #32 🚀.

+ [x] Checkout `master`
+ [x] Create new branch e.g: `update-to-pho

[2020-05-20 20:37] nelsonic commented on #38
New Phoenix Home Page:
![image](https://user-images.githubusercontent.com/194400/82494801-11caa100-9ae2-11ea-821d-8181580201cb.png)

[2020-05-20 21:27] nelsonic commented on #38
Update UI:
![image](https://user-images.githubusercontent.com/194400/82498454-ef3b8680-9ae7-11ea-9d1f-8cf593deacba.png)

[2020-05-20 21:52] nelsonic commented on #38
Update in progress: #39
https://github.com/dwyl/phoenix-chat-example/tree/update-to-phoenix-1.5-issue%2338

[2020-05-24 00:48] Leo328 opened #40 "In case people can't determine if Postgresql is running with lsof -i :5432"
Hi there,

This is my first ever open-source contribution post on GitHub.  I'm super-new at this but also want to make sure others don't get stuck with frustrating issues when learning.

I noticed that when going through the tutorial, there was a recommendation to use `lsof -i :5432` to check if Postgresql was running correctly.  This didn't work for me (there was no output), but I do know that Po

[2020-05-24 03:28] Leo328 commented on #38
https://github.com/dwyl/phoenix-chat-example/issues/40

Thought I'd leave this here so it can go along with the updates.

[2020-05-24 06:42] nelsonic commented on #40
@Leo328 great addition.
[code]
Works on Mac too. ✅

[2020-05-24 07:15] Leo328 opened #41 "Issue with "coveralls" with ElixirLS"
Hey there,

Not sure if this is an ElixirLS issue or an issue with the documentation, but in relation to [point 15](https://github.com/dwyl/phoenix-chat-example#user-content-151-add-excoveralls-as-a-development-dependency-to-mixexs) in the tutorial, I found the text placed in the dependencies folder throws a syntax error

![image](https://user-images.githubusercontent.com/34203410/82747743-9c134d8

[2020-05-24 07:28] nelsonic commented on #41
Hi @Leo328, Thanks for opening this issue to share your experience!
We're *stoked* that you've found this tutorial and are going through. 🎉
In the `mix.exs` file the keyword "coveralls" does not need the quotes around it,
you should only see a `warning` for that, and it's safe to remove the quotes.

These will be removed in #39 to avoid any further confusion for people following the tutorial. 👍

[2020-06-11 10:37] nelsonic opened #42 "Latest version of app does not deploy to heroku"
https://dashboard.heroku.com/apps/phxchat/deploy/github
![image](https://user-images.githubusercontent.com/194400/84375577-b0c15500-abd7-11ea-8d2a-e2c31a82e64a.png)

The _previous_ version of the code had the `import_config "prod.secret.exs"` commented out:
https://github.com/dwyl/phoenix-chat-example/blob/5d77821f55f98e1881cc387ca5011fce9f2901e0/config/prod.exs#L37

Should be a simple fix to get

[2020-06-11 10:50] nelsonic commented on #42
Annoyingly the latest phoenix upgrades a bunch of Node.js dependencies,
so the default version of Node `v6.9.2` doesn't work:

![image](https://user-images.githubusercontent.com/194400/84376861-a56f2900-abd9-11ea-8a60-43c64ae32795.png)

# 😞

[2020-06-11 11:01] nelsonic commented on #42
![image](https://user-images.githubusercontent.com/194400/84377651-dd2aa080-abda-11ea-880e-c25313467653.png)

[code]

Fix: https://github.com/gjaldon/heroku-buildpack-phoenix-static/issues/80#issuecomment-467926019

[2020-06-11 11:13] nelsonic commented on #42
Phoenix `1.5.3` version works well on Heroku: https://phxchat.herokuapp.com
![image](https://user-images.githubusercontent.com/194400/84378930-dbfa7300-abdc-11ea-8468-604fa13b0eb8.png)

[2020-06-11 11:19] nelsonic commented on #42
PR https://github.com/dwyl/phoenix-chat-example/pull/43 fixes the build.

[2020-06-11 19:25] #42 closed

[2020-06-12 07:04] nelsonic commented on #38
The PR #39 (and #43) was merged with the update to Phoenix 1.5.3 🎉  (thanks @Simon & @iteles!)
It did not contain Auth or Presence. I still very much want to add these two enhancements.
Happy for _anyone_ else to add Auth as a test of the simplicity of https://github.com/dwyl/auth_plug while following https://github.com/dwyl/auth_plug_example#how

[2020-06-22 09:01] nelsonic opened #44 "UI BUG: Name + Message input fields overlap message history"
At present the UI of the Chat App is overlapping. See:  https://phxchat.herokuapp.com
![phx-chat-ui-overlap-bug](https://user-images.githubusercontent.com/194400/85268721-c9026100-b46e-11ea-8379-ccdc1739cc29.png)

This is obviously undesirable. 😕
It should only take (_someone with reasonable CSS+google skills_) 20 mins to grok and resolve.

# Todo

+ [x] Fix the CSS so that the `input` fields for

[2020-07-29 08:10] nelsonic commented on #44
Fixed in #45

[2020-07-29 08:10] #44 closed

[2020-10-17 23:22] AaronLain opened #49 "The database for Chat.Repo couldn't be created: killed"
Hey all! I have been trying to get the full version of this running before building it out. Postgres installed flawlessly and I got it up and running without an issue. I followed the initial instructions/installations then git-cloned and ran mix install but keep running into this error:

2020-10-17 18:05:27.473 CDT [3405] FATAL:  role "postgres" does not exist

18:05:27.473 [error] GenServer #PID<

[2020-10-18 08:41] ondrej-tucek commented on #49
Check the AstonJ [post](https://elixirforum.com/t/mix-ecto-create-errors-with-role-postgres-does-not-exist/20624) or Sears's article [Getting Started with PostgreSQL on Mac OSX](https://www.codementor.io/@engineerapart/getting-started-with-postgresql-on-mac-osx-are8jcopb) :eyes:

[2020-10-18 13:35] nelsonic commented on #49
Yeah, that getting started guide should help you make progress. 💡
If not, please share _how_ you installed Postgres; e.g. using `brew` or https://postgresapp.com ?

[2020-10-18 15:56] AaronLain commented on #49
I installed via brew as per the instructions. I will say I had an old installation via the app, but uninstalled it (via the provided uninstall.pkg) before using the brew method to prevent any sort of issue. Maybe I messed up there?

[2020-10-18 15:58] AaronLain commented on #49
I will read the AstonJ post when I get home, but that might be the issue. I'll update as soon as I can.

[2020-10-18 21:20] AaronLain commented on #49
@nelsonic you are my hero. I must have missed that post in my googling. Going to have to check the elixir forums more often!

[Solution](https://elixirforum.com/t/mix-ecto-create-errors-with-role-postgres-does-not-exist/20624) for the curious.

Going to close this issue. Thanks for the quick responses.

[2020-10-18 21:20] #49 closed

[2020-10-18 22:02] nelsonic commented on #49
@AaronLain I'm not the hero here. @ondrej-tucek is for sharing that helpful link. 🔗 😉
Glad you got it working. 🚀
If you find this tutorial/example useful, please ⭐ it to help others find it. 🙌

[2020-10-19 06:27] ondrej-tucek commented on #49
You're welcome Aaron. I'm glad to hear you that was helpful. Nice day :sunny:

[2021-01-27 19:32] tomazbracic opened #51 "Add 1 to 1 chat functionality"
It would be super awesome to upgrade this great tutorial with a bit more advanced example. How would one pick up one person from (presence?) and open "private" 1-to-1 chat with it. On prior approval.

[2021-07-21 09:07] nelsonic commented on #41
Hopefully this is resolved now so closing. Please re-open if required. 👍

[2021-07-21 09:07] #41 closed

[2021-09-11 17:59] nelsonic opened #54 "Feat: Add `auth_plug` to Phoenix Chat Example so people can authenticate 🔐"
This tutorial is currently _already_ quite [popular](https://github.com/dwyl/phoenix-chat-example/stargazers). 🤩 🎉
We can take it to the **_next_ level** by adding **`auth`** via [**`auth_plug`**](https://github.com/dwyl/auth_plug) using **`ONE Environment Variable™`**! 🚀

# Story

As a **`person`** learning **`Elixir/Phoenix`** 🌱
**I need** a **_fully_ featured example** including **`auth`** 🔐
**

[2021-09-11 18:15] nelsonic opened #55 "Update to Phoenix v1.6"
Given the recent Phoenix [v1.6.0-rc.1](https://github.com/phoenixframework/phoenix/blob/8d1fa447c21c7a607be95d540360d64bf5aba173/CHANGELOG.md#160-rc1) see: https://github.com/dwyl/learn-phoenix-framework/issues/143

# Todo

+ [x] Go through this tutorial again and update to the latest Phoenix
  + [x] Confirm if there is any added complexity or if v1.6 simplifies things.
+ [x] Create Pull Request w

[2021-09-11 18:17] nelsonic commented on #38
This was updated over a year ago. ✅
`GOTO`: #55 🆕

[2021-09-11 18:17] #38 closed

[2021-09-20 15:53] nelsonic commented on #55
Read through the upgrade guide: https://gist.github.com/chrismccord/2ab350f154235ad4a4d0f4de6decba7b
Looks fairly straightforward.
I'm still holding off doing it until more edge cases are ironed out so I don't have to waste too much time.

[2021-09-22 20:09] nelsonic commented on #19
Long since updated to Phoenix 1.5.5 #48 with complete review.
Update to 1.6 on Todo List for soon. #55
Closing.

[2021-09-22 20:09] #19 closed

[2021-09-22 20:34] llimllib opened #56 "mix setup fails on node 16.3"
The full build log of a failure is [available here](https://gist.github.com/llimllib/baf1938cb182f6ced28f6c27e66f22aa)

I solved the issue by downgrading my version of node; I use asdf so for me it was as simple as `asdf local nodejs ref:v14.17.0`. I believe this is due to https://github.com/sass/node-sass/issues/3077 or something similar (I've faced it on other projects).

[2021-09-22 21:41] nelsonic commented on #56
@llimllib thanks for opening this issue. This will no longer be a problem with Phoenix v1.6 #55

[2021-09-23 20:53] llimllib commented on #56
ok, if you want to close it in favor of waiting for the 1.6 version, that works for me

[2021-09-24 08:28] nelsonic commented on #56
@llimllib it's a good reminder that Node.js is breaking backward compatibility ... 🤦‍♂️

Other people trying this tutorial in the next couple of weeks who are using "Latest" Node (_as opposed to LTS_)
will experience the same issue. If they are curious enough to open the issues, they will see that it's a **_known_ issue**. 💭
Happy to leave it open for now and close when we update to **`1.6`**... 🔜

[2021-10-14 09:16] nelsonic commented on #55
We've now updated quite a few of our Apps to Phoenix **`1.6** without any issues: 🚀
+ [x] `auth`: https://github.com/dwyl/auth/pull/147
+ [x] `auth_plug_example`: https://github.com/dwyl/auth_plug_example/pull/13
+ [x] `elixir-auth-google-demo` https://github.com/dwyl/elixir-auth-google-demo/pull/7

Fairly certain we could tackle this issue/update now. 💭
@ajmeese7 if you're keen to dive in - very

[2021-10-15 10:30] nelsonic commented on #55
Working on `localhost`:
![image](https://user-images.githubusercontent.com/194400/137472547-ec2be248-322d-4ac7-a667-8d4165d4cf25.png)

[2021-10-16 20:39] nelsonic commented on #55
Replaced Travis-CI with GitHub Actions: https://github.com/dwyl/phoenix-chat-example/pull/63 ✅

[2021-10-19 14:49] nelsonic opened #65 "Heroku Build/Start Failing"
@SimonLab thanks for reporting that you were seeing an Application Error for the app ... https://phxchat.herokuapp.com/
![image](https://user-images.githubusercontent.com/194400/137934741-ee24162b-70ed-47d7-a0f9-80c2b099995a.png)

The logs suggest we are missing a dependency on `hackney`: https://dashboard.heroku.com/apps/phxchat/logs
![image](https://user-images.githubusercontent.com/194400/13793

[2021-10-19 15:13] SimonLab commented on #65
Restarting Heroku gives the following message:
![image](https://user-images.githubusercontent.com/6057298/137939691-3c4329f2-f772-4561-8087-849dce8c6eb3.png)

[2021-10-19 20:14] SimonLab commented on #65
The Phoenix logo is not displayed:
![image](https://user-images.githubusercontent.com/6057298/137983381-366f0b2e-a0bc-4803-90f3-893d23b14d23.png)

I've tried to run `mix assets.deploy` on Heroku but it didn't resolve the assets issue.
Also it might be another issue, at the moment the messages are not saved, ie if you refresh your page your "Seems to be working fine" won't appear anymore. I need o

[2021-10-19 22:46] ajmeese7 commented on #65
@SimonLab that is the same issue I was experiencing a few days ago, rebuilding my environment and setting up the application again as you suggested fixed it for me. Maybe try that if you haven't already?

[2021-10-19 22:59] nelsonic commented on #65
@ajmeese7 I think the issue Simon is seeing is legit.
The logo is AWOL for me too on the Heroku app: https://phxchat.herokuapp.com/

<img width="1113" alt="phxchat-heroku-logo-404" src="https://user-images.githubusercontent.com/194400/138001905-03858e92-7a0d-4a2b-a584-00d0c984929d.png">

It might just be a case of re-building the app, but I think Simon has already tried that. 💭

As for the new cha

[2021-10-20 09:42] SimonLab opened #67 "Order messages by date"
see: https://github.com/dwyl/phoenix-chat-example/issues/65#issuecomment-947166693
I've check the content of the database and all the messages are properly saved. The issue is linked to the display order of the messages.

At the moment all the messages are displayed, however the query should only get 20: https://github.com/dwyl/phoenix-chat-example/#8-load-existing-messages-when-someone-joins-the-

[2021-10-20 19:31] #67 closed, assigned to SimonLab

[2021-10-20 19:32] #65 closed, assigned to nobody

[2021-10-28 08:23] SimonLab opened #69 "Guest messages are not saved in Postgres"
When the `name` is left blank the message appears on the chat as `guest`:
![image](https://user-images.githubusercontent.com/6057298/139216317-fc055422-4bf4-4497-9e7b-7b2eb005e6f1.png)

However it is not saved into Postgres and on the next page reload the message won't appear anymore.
This is due to the changeset of the message which requires the name to not be blank:
https://github.com/dwyl/phoen

[2021-10-28 09:54] #69 closed, assigned to nobody

[2022-04-07 11:08] nelsonic opened #73 "Add Dependabot to Update Dependencies"
Create a file with the following path: `.github/dependabot.yml`

With the following contents:
[code]

Docs: https://docs.github.com/en/code-security/dependabot/working-with-dependabot/keeping-your-actions-up-to-date-with-dependabot

[2022-04-11 19:47] #73 closed

[2022-08-02 10:04] Arhell opened #100 "update readme links"
http=>https

[2022-08-04 05:51] #100 closed

[2022-08-04 21:23] Arhell opened #102 "update links"
http=>https

[2022-08-07 08:07] #102 closed

[2022-10-12 10:45] LuchoTurtle opened #112 "[CHORE] The walkthrough appears to be outdated (v1.6.14)"
As of the time of writing, Phoenix's latest version is **`1.6.14`** (with **`1.7`** apparently coming very soon 🤩 ).
This tutorial is great and works perfectly if I clone and run it.

However, when I try to build a **`new` `Phoenix` app** from scratch and follow this tutorial,
some information appears to be outdated.

Here are a few examples:

- [ ] The boostrapped project with the newest version

[2022-10-12 10:54] nelsonic commented on #112
@LuchoTurtle thank you very much for opening this issue. 🎉
I periodically go through the tutorials with the latest version of Phoenix and make adjustments. 📝
But I haven't done it _properly_ for a few versions ... ⏳ 🙄

Sounds like we need to treat the _existing_ code as a reference
 and essentially re-do it from scratch with a full `mix phx.new` ...

That being the case, I've updated the OP to ref

[2022-10-12 11:15] nelsonic commented on #56
Close this issue once #112 is complete. 🙏

[2022-10-12 16:16] #112 closed

[2022-10-12 17:26] LuchoTurtle commented on #112
@nelsonic consider changing the description to `💬 A Step-by-Step Beginners Tutorial for Building, Testing & Deploying a Chat app in Phoenix 1.6.14🚀` 😉

[2022-10-12 18:54] nelsonic commented on #112
@LuchoTurtle you should have access to make the update. if not, please LMK. 👍

[2022-10-13 12:51] LuchoTurtle opened #114 "[Video Review] Let’s Build a Real Time Chat Application with Elixir and Phoenix"
The original comment from this is in the comment history -> check it there 👍

[2022-10-13 13:06] nelsonic commented on #114
@LuchoTurtle excellent+detailed write-up! 😍

***`this`*** repo is the OG **`Phoenix`** _long_ before there was **`LiveView`**. ⏳
We've kept it that way because _many_ **`Phoenix`** Apps still use this ("MVC+JS") approach. 🚀
@SimonLab wrote this updated version **_with_ `LiveView`**: [dwyl/phoenix-**liveview**-chat-example](https://github.com/dwyl/phoenix-liveview-chat-example) 🎉
But the OG is stil

[2022-11-14 17:00] #17 closed

[2022-11-14 17:00] #26 closed

[2022-11-16 23:24] nelsonic commented on #54
Ref: https://github.com/dwyl/phoenix-liveview-chat-example#12-authentication

[2022-11-16 23:25] nelsonic commented on #54
https://authdemo.fly.dev/apps

[2022-11-17 11:38] nelsonic opened #121 "Add `Tailwind CSS` ✨"
It's occurred to me that the CSS/Styles in this example are "meh" ...

<img width="952" alt="image" src="https://user-images.githubusercontent.com/194400/202434677-6bb6aea0-1f94-42a1-9ff2-ee11d37a42e5.png">

And with the addition of **`Tailwind CSS`** in **`Phoenix 1.7`** https://github.com/dwyl/learn-phoenix-framework/issues/152
We can _significantly_ improve the UI!

Luckily, we've already done

[2022-11-17 11:51] nelsonic commented on #5
Readme recently & comprehensively updated to _latest_ `Phoenix` by @LuchoTurtle in https://github.com/dwyl/phoenix-chat-example/pull/113 🎉 ✅

[2022-11-17 11:51] #5 closed

[2022-11-17 11:51] nelsonic commented on #1
Done via: https://markdown-all-in-one.github.io/docs/guide/table-of-contents.html#creating-a-toc

[2022-11-17 11:51] #1 closed

[2022-11-17 13:13] nelsonic opened #122 "Chore: Migrate demo app from Heroku to Fly.io"
In light of Heroku discontinuing "hobby" apps https://github.com/dwyl/learn-heroku/issues/52
We are migrating our apps off Heroku to Fly.io

# Todo

+ [x] Create new `org` for the demo app on Fly.io
+ [x] Create new `app`
+ [x] Deploy the app using `fly launch`
+ [x] Update the docs in the `README.md`

[2022-11-17 13:19] nelsonic commented on #122
https://fly.io/dashboard/dwyl-phoenix-chat-example
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/194400/202456285-58441d66-403d-4979-a09e-3d00ca5ba2ce.png">

https://phoenix-chat.fly.dev/
![image](https://user-images.githubusercontent.com/194400/202456512-8db02945-bf0a-46fe-9d8c-6818228d7b6c.png)

https://github.com/dwyl/phoenix-chat-example/settings/secrets/actions

[2022-11-17 13:29] nelsonic commented on #122
Included in #120 ✅

[2022-11-17 13:29] #122 closed

[2022-11-17 17:03] nelsonic commented on #121
Included in: #120

[2022-11-17 17:26] nelsonic commented on #54
@LuchoTurtle PR: #120 should be good for you to continue/finish. 🙏

[2022-11-22 11:56] nelsonic commented on #121
@LuchoTurtle please include a screenshot of the finished thing in the issue before assigning it back to me.

[2022-11-22 11:57] LuchoTurtle commented on #121
Sorry about that.

It should look like this.

<img width="925" alt="image" src="https://user-images.githubusercontent.com/17494745/203308263-fb867c9b-3ab6-4557-a361-03330d23bcf8.png">

[2022-11-22 12:10] nelsonic commented on #121
Sorry for not being clear.
The desired UI/UX is already in the OP.
This layout you've created certainly looks _good_. 👍
By all means add it to your Dribbble account: https://dribbble.com/tags/messaging
but it's over-thinking it by having the message box off to the right ... 🤷‍♂️
and doesn't _look_ "mobile first" (i.e. "boring") ... 📱
Unless the mobile is a Tablet. 💭

I'm all for creating design va

[2022-11-22 12:11] nelsonic commented on #121
For the avoidance of all future doubt: https://en.wikipedia.org/wiki/Occam's_razor

[2022-11-22 14:02] LuchoTurtle commented on #121
Changed it to look like so.
<img width="1436" alt="image" src="https://user-images.githubusercontent.com/17494745/203333181-73fd07a8-c78d-49ad-a13d-06248109574e.png">

Waiting for a response on https://github.com/dwyl/phoenix-chat-example/pull/120#issuecomment-1323626395
👀

[2022-11-23 13:50] LuchoTurtle commented on #121
https://github.com/dwyl/phoenix-chat-example/pull/120#issuecomment-1325094372

Going to assign this for review, with the login issue resolved 👍

[2022-11-23 15:01] nelsonic commented on #121
Believe we can close this issue now as `Tailwind` is indeed in the PR we colab'd on: #120 ✅
Thanks again @LuchoTurtle 👌

[2022-11-23 15:01] #121 closed

[2022-11-27 08:10] ndrean commented on #114
Version without Liveview, using channels

![image](https://user-images.githubusercontent.com/6793008/204125333-8da74abb-895e-4914-a71f-9ad4efb82386.png)

[2022-11-27 08:21] ndrean commented on #114
![image](https://user-images.githubusercontent.com/6793008/204125672-59fb718d-bc97-4033-97ac-1fbcf064fb0f.png)

[2022-11-29 11:00] nelsonic commented on #121
***`before`***:
![image](https://user-images.githubusercontent.com/194400/204512127-562f4c82-38cd-4a2d-a172-d897fd3c6f0d.png)

[2022-11-29 19:27] LuchoTurtle commented on #121
Shouldn't this be open until https://github.com/dwyl/phoenix-chat-example/pull/120  is merged?